* {
    margin: 0;
    font-family: junegull-regular;
}

.headerBG {
    background:  #F5EFEF; 
    z-index: 2;
}

/* ######## FONTS ######### */
h1{
    margin: 0;
}

p{
    font-family: roboto;
    margin-left: 1.5rem;
    color: #132C5E;
}
/* ######## FONTS ENDS######### */


/* ######## HEADER ######### */
header {
    background-image:url(image/svg/confetti.svg);
    background-attachment: fixed;
    background-size: cover;
}

nav{
    display: flex;
    flex-direction:row-reverse;
    height: 2rem;
    justify-content: space-between;
    margin-right: 1rem;
}


ul, li{
    padding: 0.5rem;
    display: flex;
    height: 2rem;
    text-decoration: none;
}

.logo {
    width: 25%;
    padding: 5% 10%;
    position: absolute;
    display: block;
    animation: pop;
    animation-duration: 5s; 
}

@keyframes pop {
    0% {
        width: 50%;
    }
    50% {
        width: 65%;
    }
    100%{
        width: 25%;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottle {
    margin-top: 5%;
    width: 30%;
    display: block;
    position: relative;
   
    animation: moveFromLeft 2s linear;
   
}

@keyframes moveFromLeft {
    0% {
        left: -100%;
        transform: translateX(-10)
    }
    100% {
        left: 0%;
        transform: translateX(0%)
    }
}

/* ######## HEADER ENDS ######### */


.columns {
    display: flex;
}

.column {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #E9501D;
    
} 
.column-img {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.column h1{
    color: #F7BE00;
}

.cat-right{
    width: 20rem;
}

/* #eyes {
    width: 10%;
     
    position: absolute;
    display: block;
    animation: openClose;
    animation-duration: 5s;   
}
 /* @keyframes openClose {
    0% {
        color: #F2CB05;
    }
    50% {
        color:black;
    }
    100%{
        color: #F2CB05;
    }
}   */


.yellow-pattern {
    display: block;
    position: relative;
    animation: linear;
    animation: moveFromLeft;
    animation-duration: 9s; 
} 

.patternBG {
    background: #2c2718;
}
button {
    background: pink;
    border: none;
    padding: 0.5rem;
    color: #132C5E;
}

input {
    padding: 0.5rem;
    border: none;
   
}
::placeholder {
   color: #132C5E;
}

@media only screen and (max-width: 600px) {

    header {
        background-image:url(image/svg/confetti.svg);
        background-size: 25%;
        height: 740px;

    }

    .bottle {
        margin-top: 7rem;
        width: 90%;
    }

    .logo {
        width: 50%;
        animation: pop 5s;
    }
    
    @keyframes pop {
        0% {
            width: 100%;
        }
        50% {
            width: 150%;
        }
        100%{
            width: 50%;
        }
    }

    .columns {
        display: flex;
        flex-direction: column;
    }

     .toggled{
        display: none;
    }

}