* {
    margin: 0;
    font-family: junegull-regular;
}


/* ######## FONTS ######### */
h1 {
    margin: 0;
    text-align: center;
}

p {
    font-family: roboto;
    margin-left: 1.5rem;
    color: #132C5E;
}
/* ######## FONTS ENDS######### */




/* ######## HEADER ######### */
.headerBG {
    background: #F5EFEF; 
    z-index: 2;
}

header {
    background-image:url(image/svg/confetti.svg);
    background-attachment: fixed;
    background-size: cover;
}

nav {
    display: flex;
    flex-direction:row-reverse;
    height: 2rem;
    justify-content: space-between;
    margin-right: 1rem;
}


ul, li {
    padding: 0.5rem;
    display: flex;
    height: 2rem;
    text-decoration: none;
}

.logo {
    width: 25%;
    padding: 5% 10%;
    position: absolute;
    display: block;
    animation: pop;
    animation-duration: 5s; 
}

@keyframes pop {
    0% {
        width: 50%;
    }
    50% {
        width: 65%;
    }
    100%{
        width: 25%;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottle {
    margin-top: 5%;
    width: 30%;
    display: block;
    position: relative;
   
    animation: moveFromLeft 2s linear;
   
}

@keyframes moveFromLeft {
    0% {
        left: -100%;
        transform: translateX(-10)
    }
    100% {
        left: 0%;
        transform: translateX(0%)
    }
}
/* ######## HEADER ENDS ######### */






/* ######## INFO BOX 1 ######### */
.infoBlock {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 400px);
    grid-auto-rows: 400px; */
    padding: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 
    "text image text"
    "pattern pattern pattern"
    "image text image";
}


.column {
    padding: 6rem;
    grid-area: text;
    background: #E9501D;
    
} 
.column-img {
    width: 30%;
    background: #85BD95;
} 

.column h1{
    color: #F7BE00;
}

.cat-right{
    grid-area: image;
    width: 20rem;
}

/* ######## INFO BOX 1 ######### */



/* ######## PATTERN ######### */

.yellow-pattern {
    grid-area: pattern;
    display: block;
    position: relative;
    animation: linear;
    animation: moveFromLeft;
    animation-duration: 9s; 
} 

.patternBG {
    background: #2c2718;
}

/* ######## END OF PATTERN ######### */


/* ######## FOOTER ######### */
footer {
    padding: 1rem;
}

button {
    background: pink;
    border: none;
    padding: 0.5rem;
    color: #132C5E;
}

input {
    padding: 0.5rem;
    border: none;
   
}
::placeholder {
   color: #132C5E;
}

i{
    padding: 1rem;
    font-size: 2rem;
    color: #132C5E;
}
/* ######## END OF FOOTER ######### */

@media only screen and (max-width: 1024px) {
   
} 

/* @media only screen and (max-width: 600px) {} */

